<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="processing.test.swarch_android_milestone2_tf101"><uses-sdk android:minSdkVersion="10"/><application android:debuggable="true" android:icon="@drawable/icon" android:label="Swarch_Android_MileStone2_TF101"><activity android:name=".Swarch_Android_MileStone2_TF101"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity></application></manifest>